# Node modules
node_modules/

# Yarn requirements
yarn-error.log

# Build output
.next/
out/

# Static files
public/static/

# Vercel configuration
.vercel/

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local
